a {
    text-decoration: none;
}

html {
    box-sizing: border-box;

}
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #C1C1C1;
    font-size: 11px;
    font-weight: bolder;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    padding-left: 16em;
    padding-right: 20em;
    font-size: 20px;
    padding-top: .2em;
    padding-bottom: .2em;
}
/* mouse over link */
a:hover {
    color: blue;
}