#map {
    /* the width and height may be set to any size */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
}
.waves-effect-waves light btn{
    display: flex;
    justify-self: center;
}

/* weather icons */
.wi-day-sunny{
    background-image: url("../img/SVG/Sun.svg");
}
.wi-night-clear{
    background-image: url("../img/SVG/Moon-Waning-Crescent.svg");
}
.wi-rain{
    background-image: url("../img/SVG/Cloud-Rain.svg");
}
.wi-snow{
    background-image: url("../img/SVG/Snowflake.svg");
}
.wi-sleet{
    background-image: url("../img/SVG/Snowflake.svg");
}
.wi-windy{
    background-image: url("../img/SVG/Wind.svg");
}
.wi-fog{
    background-image: url("../img/SVG/Cloud-Fog.svg");
}
.wi-cloudy{
    background-image: url("../img/SVG/Cloud.svg");
}
.wi-day-cloudy{
    background-image: url("../img/SVG/Cloud-Sun.svg");
}
.wi-night-alt-cloudy{
    background-image: url("../img/SVG/Cloud-Moon.svg");
}
